@import 'https://fonts.googleapis.com/css?family=Roboto';

h1 {
    color: #fbffff;
    font-size: 1.5em;
    text-align: center;

}

header {
    background-color: hsla(121, 86%, 43%, 0.4);
}

img {
    width: 100%;
    height: 100%;
}

body {
    color: white;
    text-align: center;
    background: url(train-797072_1920.jpg) no-repeat fixed;
    background-size: 100%;
    font-family: Roboto, sans-serif;
    margin: 0 auto;


}

nav {
    font-size: 1.7em;
    background-color: hsla(121, 86%, 43%, 0.8);
    text-align: left;
    position: fixed;
    height: 100%;
}

nav a:focus,
nav a:visited,
nav a:hover,
nav a:active {
    color: royalblue;
    background-color: gold;
}

nav ul a {
    display: block;
    color: white;
}

main {
    background-color: hsla(121, 86%, 43%, 0.8);
    margin-left: 12em;
}

th, td, table {
    border: 1px solid;
    overflow: hidden;
    word-break: normal;
    background-color: hsla(228, 100%, 55%, 0.37);
    color: rgb(255, 255, 255);
    align-self: center;
    align-content: center;
    text-align: center;
    font-size: 1.03em;
    overflow-x: hidden;
    overflow-y: hidden;
}

table {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(27, 71, 255, 0.89);
    float: left;
    margin: 1px;
}

.datagrids {

    align-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

#BackendInfo{

    text-align: center;
    align-content: center;
    background-color: rgba(140,140,140,0.9);
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    font-family: SansSerif,"Comic Sans MS" ;

}

iframe{

    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border: hidden;

    width: 100%;
    height: 100%;

}